.header-container {
    background:#C4C4C4;
    height:58px;
    left:0;
    position:absolute;
    top:0;
    width:100%;
  }

  .header-title {
    align-items:flex-end;
    color:#000;
    display:flex;
    font-family:Roboto;
    font-size:30px;
    font-style:normal;
    font-weight:400;
    height:35px;
    left:123px;
    line-height:35px;
    position:absolute;
    top:12px;
    width:115px;
  }

  .search-icon {
    background:url('../img/search 1.svg');
    cursor:pointer;
    height:30px;
    left:317px;
    position:absolute;
    top:12px;
    width:30px;
  }