.header-container {
  background: #c4c4c4;
  min-height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  flex-wrap: nowrap;
}

.header-content {
  display: flex;
  margin-top: 10px;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
}

.header-title {
  align-self: center;
  color: black;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  width: 115px;
}
