.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}
  
.profile .profile-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.profile .profile-button {
  background-color: lightgrey;
  border: 1px solid black;
  font-size: 20px;
  height: 50px;
  margin-top: 25px;
  width: 100%;
}
