.recipes-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.category-button {
  background: #c4c4c4;
  border: 1px solid darkgray;
  height: 35px;
  margin: 3px;
  width: 105px;
}

.category-button:focus {
  border: 3px solid gray;
  outline: none;
}
